/* colors */
:root {
  --color-1: #c7f9ea;
  --color-2: #77ffd6;
  --color-3: #4de2b6;
  --color-4: #3e997d;
  --color-5: #3a6055;
}
/* Globals */
body  {
  padding:0px;
  margin:0px;
  background:white;
  font-family:Oswald;
}

.appbody {
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
}

a {
  color:var(--color-4) !important;
}
/* Message Bar */
.message-bar {
  display:flex;
  justify-content: flex-start;
  align-items:center;
  position:fixed;
  bottom:0px;
  font-size:.8em;
  width:100vh;
  padding:5px;
  color:white;
  background:rgba(37, 148, 139, .5);
}
.message-bar span {
  margin: auto 10px;
}
.msg-error {
  color:red; 
  background:#d6c2c3;
}
.msg-info {
  color:white;
  background:#3a6055;
}

.hidden {
  display:none;
}

/* App Header */
 .app-header {
   text-align:center;
   padding:2px;
   margin-bottom:30px;
   background:var(--color-4);
   font-size:1.3em; 
   font-family:Pattaya;
   color:var(--color-1);
 }
 .app-header h2 {
     margin:10px;
}
 .day-banner {
   padding:15px;
   width:200px;
   text-align:center;
   margin:auto;
   font-size:1.4em;
   display:flex;
   flex-flow:column wap;
   justify-content:center;
   align-items:center;
   border:1px solid var(--color-3);
 }
 .welcome-text {
   max-width:500px;
   display:flex;
   justify-content:center;
   font-size:1.6em;
 }
 
 .table-container {
   margin:10px auto;
   
 }
 
 
table {
    margin:auto;
    box-sizing : border-box;
    font-size:1.5em; 
    text-align:center;

}

.table-header{
    background:var(--color-2);
    padding:10px auto;
    color:var(--color-4);
}
tbody tr {
    color:var(--color-4);
    padding:30px;
}
tbody tr.row-compare-country {
    background:var(--color-3);
  
}
tbody tr td {
  padding:10px;
}

tbody tr.compare-row {
    font-size:.8em; /* ? */
}
tbody tr.compare-row td.lower {
    color:chocolate;
}
tbody tr.compare-row td.higher {
    color:rgb(206, 77, 77);
}

tbody tr.compare-row td.higer-recovrd {
    color:green;
}
tbody tr.compare-row td.lower-recovrd {
    color:red;
}
.country-finder-container {
   margin:auto;
   display:flex;
   flex-flow:column wrap;
   justify-content:center;
   align-items:center;
}
.country-finder-container label {
    margin-bottom:8px;
}
.country-finder-input {
    border:.6px solid var(--color-3);
    background:transparent;
    padding:12px;
}
.country-finder-button {
  cursor:pointer;
  padding:6px;
  color:var(--color-1);
  background:var(--color-4);
  border:0px;
  margin:5px auto;
  box-shadow:grey 1px 1px 2px 1px;
}

 
 .cards {
     display:flex;
     flex-flow:row wrap;
     align-items:center;
     justify-content:space-between;
}

.card-item {
    background:var(--color-4);
    color:var(--color-1);
    margin:20px auto;
    display:flex;
    width:300px;
    height:250px;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
}

.card-item-icon {
    font-size:48px;
}
.card-item h2 {
    font-size: 2.3em;
}
.card-item p {
    text-align:center;
    padding:10px;
}

.card-hotline {
    display:flex;
    text-align:center;
    flex-flow:column wrap;
    justify-content:space-around;
}
.card-hotline-title, .reference-container h2 {
    text-align:center;
}

.references-container {
  display:flex;
  flex-flow:column wrap;
}
@media only screen and (max-width:550px) {


.app-header {
    padding:6px;
    font-size:1.2em;
}


p {
    padding:10px;
    font-size:.9em;
}
.welcome-text {
  width:50vh;
  margin:auto;
  font-size:1.2em;
}

table {
    font-size:1.2em;
}

tbody tr {
    color:var(--color-4);
    padding:20px;
}

.cards {
  display:flex;
  flex-flow:column wrap;
  justify-content: center;
}
.card-item {
    width:200px;
    height:150px;
    margin:10px;
    flex-flow:column;
    justify-content: center;
}
.card-item-icon {
    font-size:32px;
}
.card-item h2 {
    font-size: 1.4em;
    margin:0px;
}
.card-item p {
    text-align:center;
    margin:0px;
}
.news-item {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    background:var(--color-4);
    color:var(--color-1);
}
.new-item p {
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width:160px;
    color:var(--color-4);
}

}

