/* colors */
:root {
  --color-1: #c7f9ea;
  --color-2: #77ffd6;
  --color-3: #4de2b6;
  --color-4: #3e997d;
  --color-5: #3a6055;
}

body  {
  padding:0px;
  margin:0px;
  background:white;
  font-family:Oswald;
}

.message-bar {
  display:flex;
  justify-content: flex-start;
  align-items:center;
  position:fixed;
  bottom:0px;
  font-size: .8em;
  width:100vh;
  padding:5px;
  color:white;
  background:rgba(37, 148, 139, .5);
}
.message-bar span {
  margin: auto 10px;
}
.msg-error {
  color:red; 
  background:#d6c2c3;
}
.msg-info {
  color:white;
  background:#3a6055;
}

.hidden {
  display:none;
}

  .app-body {
    width:100%;
    height:100vh;
    display:grid;
    margin:auto;
    grid-template-areas : "h h h h h"
                          ". w w w ."
                          ". w w w ."
                          ". c c c ."
                          ". t t t ."
                          ". t t t ."
                          ". f f f ."
                          ". r . l . "
                          ". . . . ."
                          ;
  }
/*    b - day-banner
      h - app-header
      w - welcome-text
      c - country-finder
      d - news-headline
      i - news-item
      e - email-link
      a - @aleeycreative account link
 */

 .app-header {
   grid-area: h;
   text-align:center;
   padding:2px;
   margin-bottom:30px;
   background:var(--color-4);
   font-size:1.6em; 
   font-family:Pattaya;
   color:var(--color-1);
 }
 .day-banner {
   padding:15px;
   width:200px;
   text-align:center;
   margin:auto;
   font-size:1.4em;
   display:flex;
   flex-flow:column wap;
   justify-content:center;
   align-items:center;
   border:1px solid var(--color-3);
 }
 .welcome-text {
   grid-area : w;
   max-width:400px;
   display:flex;
   justify-content:center;
   font-size:1.4em;
 }
 
 .table-container {
   grid-area : t;
   margin:10px auto;
 }
 
 
table {
    box-sizing : border-box;
    max-width:00px;
    font-size:1.4em; 
    text-align:center;

}

.table-header{
    background:var(--color-2);
    padding:10px auto;
    color:var(--color-4);
}
tbody tr {
    color:var(--color-4);
    padding:20px;
}
tbody tr.row-compare-country {
    background:var(--color-3);
  
}
tbody tr td {
  padding:10px;
}

tbody tr.compare-row {
    font-size:.8em; /* ? */
}
tbody tr.compare-row td.lower {
    color:chocolate;
}
tbody tr.compare-row td.higher {
    color:rgb(206, 77, 77);
}

tbody tr.compare-row td.higer-recovrd {
    color:green;
}
tbody tr.compare-row td.lower-recovrd {
    color:red;
}
.country-finder-container {
   grid-area:f;
   width:200px;
   margin:auto;
   display:flex;
   flex-flow:column wrap;
   justify-content:center;
   align-items:center;
}
.country-finder-container label {
    margin-bottom:8px;
}
.country-finder-input {
    border:.6px solid var(--color-3);
    background:transparent;
    padding:12px;
}
.country-finder-button {
  cursor:pointer;
  padding:6px;
  color:var(--color-1);
  background:var(--color-4);
  border:0px;
  margin:5px auto;
  box-shadow:grey 1px 1px 2px 1px;
}

 
 .cards {
     grid-area: c;
     display:flex;
     flex-flow:row wrap;
     align-items:center;
}
.cards * {
    margin:auto;
    max-width:220px;
}
.card-item {
    background:var(--color-4);
    color:var(--color-1);
    margin:20px auto;
    display:flex;
    flex-flow:column wrap;
    justify-content:space-between;
    align-items:center;
}
.card-item-icon {
    font-size:32px;
}
.card-item h2 {
    font-size: 1.5em;
}
.card-item p {
    text-align:center;
}

.card-hotline {
    grid-area:l;
    text-align:center;
}
.card-hotline-title {
    padding:5px;
}
.card-hotline p {
    width:100%;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
}
.references-container {
  grid-area:r;
}
@media only screen and (max-width:550px) {

.app-body {
    display:block;
}

.app-header {
    padding:6px;
    font-size:1.2em;
}

h2 {
    font-size:1.5em;
}
h3 {
    font-size:1.3em;
}
.day-banner {
    width:170px;
    padding:15px;
}

p {
    padding:10px;
    font-size:.9em;
}
p.welcome-text {
  width:50vh;
  margin:auto;
  font-size:1.2em
}
.table-container {
    margin:10px; /* ? */   
}
.cards {
  display:block;
}
table {
    box-sizing : border-box;
    width:100%; /* ? */
    font-size:1.1em; /* ? */

}


h3.news-update {
    width:200px;
    background:var(--color-4);
    color:white;
    margin:auto;
    text-align:center;
}

.news-item {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    background:var(--color-4);
    color:var(--color-1);
}
.new-item p {
    text-overflow:ellipsis;
    white-space:nowrap;
    max-width:160px;
    color:var(--color-4);
}

}
